* {
  margin:0;
  padding:0;
}

.container {
  min-height: 100vh;
}

.row {
  width: 100%;
}

.col {
  width: 100%;
  margin-top: 10px;
}

.card {
  border-radius: 10px;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.5);
}

ul {
  padding: 10px;
}

.line {
  position: relative;
  width: 100%;
  height: 2px;
  background-color: #000;
}

.line::after {
 content: "";
 position: absolute;
 top: -3px;
 right: -8px;
 border: 4px solid transparent;
 border-left: 4px solid #000;
}
